/* This modifies the styles of the landing page (the top of the home page, the part of the page the user
will see when they first enter the website). 

The movie reel image needs to be here*/
#landing-page {
    background-color: black;
}

/* Style sheet of the "Check our Portfolio" button */
#portfolio-button {
    color: white;

    /* This adds a white border to the button */
    border: 1px solid white;

    /* This makes the interior of the button to be transparent  */
    background-color: transparent;

    /* This makes a hand appear when the user hovers the mouse over the button */
    cursor: pointer;

    /* This will add rounded corners to the button */
    border-radius: 5px;

    padding: 10px;
    font-size: 24px;

    /* I will temporarily add a margin at the bottom of the button so that I can see how the white border looks
    on a black screen (the default background color of the page is white) */
    margin-bottom: 10px;

    /* text-align: center; */
}

/* This will center the "Check our portfolio" button. Source: 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_center-flex_btn */
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This should move the "check our portfolio button" to the center of the page */
/* div#portfolio-button {
    text-align: center;
} */

/* This will change the color of the "check our portfolio" button to white if the user moves the mouse over it. */
#portfolio-button:hover {
    background-color: white;
    color: black;
}

/* This styles the title of the home page */
#home-title {
    color: white;

    /* This sets the font to Arial */
    font-family: Arial, Helvetica, sans-serif;
}

/* This should remove all text decoration (underlines and blue text) for the navbar elements without needing to 
put 2 CSS selectors for the unvisited and the visited links. */
.navbar li a {
    text-decoration: none;
    color: white;

    /* This should change the font of the navbar elements to Kameron */
    font-family: 'Kameron', serif;
}

/* This should arrange all elements of the navbar horizontally, that is, so that they are each to the side of the other  */
.navbar li {
    display: inline;
}

/* This also modifies the style sheets of the navbar elements. */
.navbar ul {
    /* This removes the bullet points from the navbar elements */
    list-style-type: none;
}







/* This will remove the underline and the blue color of the text of the navbar links if the user hasn't clicked on them.
Only the current page should have an underline (thanks to the <u> tags that I added on the html files.) */
/* .navbar a:link {
    color: white;
    text-decoration: none;
} */

/* This will remove the underline and the blue color of the text of the navbar links after the user clicks on them. */
/* .navbar a:visited {
    color: white;
    text-decoration: none;
} */